@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li class="sidebar">
        <a asp-action="index" asp-controller="home">Startseite</a>
    </li>
    <li class="sidebar">
        <a asp-action="index" asp-controller="quiz">Lernen</a>
    </li>
    <li class="sidebar">
        <a asp-action="impressum" asp-controller="home">Impressum</a>
    </li>
    <li class="sidebar">
        <a asp-action="privacy" asp-controller="home">Privatsphäre</a>
    </li>

</ul>